---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import ShareButton from '../components/ShareButton.astro';
import TagLink from '../components/TagLink.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, tags = [] } = Astro.props;
---

<html lang="ja">
	<head>
		<BaseHead
			title={title}
			description={description}
			imageAlt={`${title} | gamine.blog`}
			type="article"
			publishedTime={pubDate}
			modifiedTime={updatedDate}
			tags={tags}
		/>
		<style>
			main {
				width: 100%;
				max-width: none;
				margin: 0;
				padding: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 64px);
				margin: auto;
				padding: 48px 0;
				color: rgb(var(--gray-dark));
				font-size: 18px;
			}
			.title {
				margin-bottom: 2rem;
				padding: 0 0 1rem;
				text-align: left;
				line-height: 1.4;
			}
			.title h1 {
				margin: 0;
				font-size: 32px;
				line-height: 1.4;
			}
			.date {
				margin-top: 4px;
				color: rgb(var(--gray));
				font-size: 12px;
				line-height: 1.4;
			}
			.last-updated-on {
				font-style: italic;
			}
			.tags {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin-top: 1rem;
			}
			.prose :global(h2) {
				padding-bottom: 0.35rem;
				border-bottom: 1px solid rgba(var(--gray), 0.35);
				font-size: 24px;
			}
			.prose :global(h3) {
				font-size: 22px;
			}
			.prose :global(h4) {
				font-size: 20px;
			}
			.prose :global(h5) {
				font-size: 18px;
			}
			.prose :global(h6) {
				font-size: 16px;
			}
			.prose :global(pre),
			.prose :global(.astro-code) {
				border: 1px solid rgba(var(--gray), 0.2);
			}
			.prose :global(blockquote) {
				border-left-color: rgb(var(--gray));
			}
			@media (max-width: 720px) {
				.prose {
					max-width: calc(100% - 32px);
					padding: 16px 0;
					font-size: 16px;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article data-pagefind-body>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						{
							tags.length > 0 && (
								<div class="tags">
									{tags.map((tag) => (
										<TagLink tag={tag} />
									))}
								</div>
							)
						}
					</div>
					<slot />
					<ShareButton />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
